# MapReduce on Movies
Given a dataset named IMDB_Movies.csv, which is available on Canvas, use the Spark Resilient Distributed Dataset (RDD) model to count the number of times a country is involved in a movie. Your output will be key-pairs represented
as [country, text-based bar-chart (count)] and sorted by bar-length. You may create the text-based bar-chart
using an extended ASCII character such as the block character (ASCII character 219. See more ASCII characters here:
https://theasciicode.com.ar/). For scaling, let 1 ASCII character = 1000 movies. Make sure to collect and
display your results in your notebook using the rdd.collect() method.

RDD functions Allowed:

• sc.textFile()

• map()

• flatMap

• reduce()

• reduceByKey

• sortBy()

• groupBy()

In [1]:
from pyspark.sql import SparkSession
import re

In [2]:
spark = SparkSession.builder.master('local[*]') \
                         .appName('CountryCount') \
                         .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/22 22:50:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
sc = spark.sparkContext.textFile("IMDb_movies.csv")

In [4]:
print(sc)

IMDb_movies.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [5]:
print("Count : "+str(sc.count()))

Count : 85856

In [6]:
sc.take(5)

['imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics',
 'tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey Depew",The adventures of a female reporter in the 1890s.,5.9,154,,,,,1.0,2.0',
 'tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Bella Cola, Will Coyne, Sam Crewes, Jack Ennis, John Forde, Vera Linden, Mr. Marshall, Mr. McKenzie, Frank Mills, Ollie Wilson",True story of notorious Australian outlaw Ned Kelly (1855-80).,6.1,589,$ 2250,,,,7.0,7.0',
 'tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helsengreen, Emil Albes, Hugo Flink, Mary Hagen","Two men of high rank are both wooing the beautiful and famous equestrian acrobat Stella. While Stella ignores the jeweler Hirsch, she accepts Count von Waldberg\'s offer to follow her home, ...",5.8,188,,,,,5.0,2.0',
 'tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, Miss Robson, Helene Costello, Charles Sindelar, Mr. Howard, James R. Waite, Mr. Osborne, Harry Knowles, Mr. Paul, Mr. Brady, Mr. Corker",The fabled queen of Egypt\'s affair with Roman general Marc Antony is ultimately disastrous for both of them.,5.2,446,$ 45000,,,,25.0,3.0']

In [7]:
def parse(text):
    ### Parse values and return a list
    parsedText = []
    multipleValues = []
    collect = False
    
    for word in text:
        
        if not word:
            parsedText.append([word])
            
        elif word[0] == '"' and not collect:
            collect = True
            multipleValues.append(word[1:])
            
        elif word[-1] == '"':
            collect = False
            multipleValues.append(word[:-1])
            parsedText.append(multipleValues.copy())
            multipleValues.clear()

        elif collect:
            multipleValues.append(word)
        else:
            parsedText.append([word])
            
        # print(word)
            
    return parsedText

In [8]:
lines = sc.map(lambda line: parse(line.split(','))[7])

In [9]:
lines.take(10)

[['country'],
 ['USA'],
 ['Australia'],
 ['Germany', ' Denmark'],
 ['USA'],
 ['Italy'],
 ['USA'],
 ['Germany'],
 ['Italy'],
 ['Romania']]

In [10]:
flatten = lines.flatMap(lambda text: [country.strip(' ') for country in text])

In [11]:
flatten.take(10)

['country',
 'USA',
 'Australia',
 'Germany',
 'Denmark',
 'USA',
 'Italy',
 'USA',
 'Germany',
 'Italy']

In [12]:
count = flatten.map(lambda country: (country,1)) \
              .reduceByKey(lambda a,b: a + b)

In [13]:
count.take(10)

[('country', 1),
 ('USA', 34325),
 ('Australia', 1181),
 ('Denmark', 1026),
 ('France', 8311),
 ('Belgium', 1354),
 ('Hungary', 642),
 ('Mexico', 1173),
 ('Norway', 639),
 ('Austria', 448)]

In [14]:
def setBars(value):
    # '█' = 9608 unicode
    bars = value // 1000
    return bars * chr(9608)

def formatNumbers(value):
    value /= 1000
    return '%.2fk' % value

In [15]:
bars = count.map(lambda x: (x[0], setBars(x[1]), formatNumbers(x[1])))

In [16]:
bars.take(10)

[('country', '', '0.00k'),
 ('USA', '██████████████████████████████████', '34.33k'),
 ('Australia', '█', '1.18k'),
 ('Denmark', '█', '1.03k'),
 ('France', '████████', '8.31k'),
 ('Belgium', '█', '1.35k'),
 ('Hungary', '', '0.64k'),
 ('Mexico', '█', '1.17k'),
 ('Norway', '', '0.64k'),
 ('Austria', '', '0.45k')]

In [17]:
sortedOutput = bars.sortBy(lambda x: len(x[1]), ascending = False)

In [18]:
sortedOutput.take(10)

[('USA', '██████████████████████████████████', '34.33k'),
 ('France', '████████', '8.31k'),
 ('UK', '███████', '7.49k'),
 ('India', '██████', '6.37k'),
 ('Italy', '█████', '5.06k'),
 ('Germany', '███', '3.72k'),
 ('Canada', '███', '3.62k'),
 ('Japan', '███', '3.70k'),
 ('Spain', '██', '2.73k'),
 ('Australia', '█', '1.18k')]

In [19]:
sortedOutput.saveAsTextFile('CountryCount.txt')

In [20]:
sortedOutput.collect()

[('USA', '██████████████████████████████████', '34.33k'),
 ('France', '████████', '8.31k'),
 ('UK', '███████', '7.49k'),
 ('India', '██████', '6.37k'),
 ('Italy', '█████', '5.06k'),
 ('Germany', '███', '3.72k'),
 ('Canada', '███', '3.62k'),
 ('Japan', '███', '3.70k'),
 ('Spain', '██', '2.73k'),
 ('Australia', '█', '1.18k'),
 ('Denmark', '█', '1.03k'),
 ('Belgium', '█', '1.35k'),
 ('Mexico', '█', '1.17k'),
 ('China', '█', '1.17k'),
 ('Netherlands', '█', '1.03k'),
 ('South Korea', '█', '1.30k'),
 ('Sweden', '█', '1.23k'),
 ('Russia', '█', '1.08k'),
 ('Hong Kong', '█', '1.88k'),
 ('Turkey', '█', '1.55k'),
 ('West Germany', '█', '1.11k'),
 ('country', '', '0.00k'),
 ('Hungary', '', '0.64k'),
 ('Norway', '', '0.64k'),
 ('Austria', '', '0.45k'),
 ('Soviet Union', '', '0.87k'),
 ('Switzerland', '', '0.64k'),
 ('Brazil', '', '0.98k'),
 ('Portugal', '', '0.43k'),
 ('Argentina', '', '0.85k'),
 ('Poland', '', '0.90k'),
 ('Finland', '', '0.68k'),
 ('Greece', '', '0.77k'),
 ('East Germany', '', '0.07k'),
 ('Albania', '', '0.04k'),
 ('Monaco', '', '0.03k'),
 ('Ireland', '', '0.48k'),
 ('Philippines', '', '0.38k'),
 ('South Africa', '', '0.33k'),
 ('Puerto Rico', '', '0.04k'),
 ('Algeria', '', '0.05k'),
 ('Lebanon', '', '0.07k'),
 ('Bermuda', '', '0.00k'),
 ('Ukraine', '', '0.14k'),
 ('Mauritania', '', '0.01k'),
 ('Iran', '', '0.74k'),
 ('Thailand', '', '0.36k'),
 ('Iceland', '', '0.16k'),
 ('Venezuela', '', '0.06k'),
 ('Peru', '', '0.08k'),
 ('Tunisia', '', '0.05k'),
 ('Angola', '', '0.01k'),
 ('Ecuador', '', '0.02k'),
 ('Andorra', '', '0.00k'),
 ('Ethiopia', '', '0.01k'),
 ('Libya', '', '0.00k'),
 ('Kuwait', '', '0.01k'),
 ('Saudi Arabia', '', '0.01k'),
 ('Suriname', '', '0.00k'),
 ('Vietnam', '', '0.06k'),
 ('Cyprus', '', '0.03k'),
 ('Botswana', '', '0.00k'),
 ('Nigeria', '', '0.04k'),
 ('Kenya', '', '0.02k'),
 ('Costa Rica', '', '0.02k'),
 ('Zambia', '', '0.00k'),
 ('Iraq', '', '0.02k'),
 ('Aruba', '', '0.01k'),
 ('Gabon', '', '0.00k'),
 ('North Korea', '', '0.01k'),
 ('Netherlands Antilles', '', '0.01k'),
 ('Gibraltar', '', '0.00k'),
 ('Ghana', '', '0.01k'),
 ('Uzbekistan', '', '0.00k'),
 ('Latvia', '', '0.07k'),
 ('Slovenia', '', '0.12k'),
 ('Kazakhstan', '', '0.04k'),
 ('Uruguay', '', '0.06k'),
 ('Slovakia', '', '0.10k'),
 ('Estonia', '', '0.11k'),
 ('Guinea-Bissau', '', '0.00k'),
 ('Cambodia', '', '0.02k'),
 ('Guatemala', '', '0.01k'),
 ('Cape Verde', '', '0.00k'),
 ('Pakistan', '', '0.09k'),
 ('Paraguay', '', '0.01k'),
 ('Bhutan', '', '0.01k'),
 ('Nepal', '', '0.03k'),
 ('Mozambique', '', '0.00k'),
 ('Trinidad and Tobago', '', '0.01k'),
 ('North Vietnam', '', '0.00k'),
 ('Bahrain', '', '0.00k'),
 ('Serbia and Montenegro', '', '0.01k'),
 ('Fiji', '', '0.00k'),
 ('Cayman Islands', '', '0.01k'),
 ('Kosovo', '', '0.02k'),
 ('British Virgin Islands', '', '0.00k'),
 ('Myanmar', '', '0.01k'),
 ('Liberia', '', '0.00k'),
 ('', '', '0.06k'),
 ('Montenegro', '', '0.01k'),
 ('Mauritius', '', '0.00k'),
 ('New Caledonia', '', '0.00k'),
 ('Honduras', '', '0.00k'),
 ('Reunion', '', '0.00k'),
 ('Korea', '', '0.00k'),
 ('Laos', '', '0.00k'),
 ('Equatorial Guinea', '', '0.00k'),
 ('Tanzania', '', '0.00k'),
 ('Somalia', '', '0.00k'),
 ('El Salvador', '', '0.00k'),
 ('Belize', '', '0.00k'),
 ('Cook Islands', '', '0.00k'),
 ('Maldives', '', '0.00k'),
 ('Malawi', '', '0.00k'),
 ('Romania', '', '0.49k'),
 ('Chile', '', '0.23k'),
 ('Czechoslovakia', '', '0.31k'),
 ('Isle Of Man', '', '0.01k'),
 ('S. Bauman-Produktion', '', '0.00k'),
 ('Yugoslavia', '', '0.40k'),
 ('Egypt', '', '0.48k'),
 ('Bulgaria', '', '0.27k'),
 ('New Zealand', '', '0.24k'),
 ('Israel', '', '0.36k'),
 ('Cuba', '', '0.07k'),
 ('Liechtenstein', '', '0.02k'),
 ('Croatia', '', '0.21k'),
 ('Malta', '', '0.03k'),
 ('Sri Lanka', '', '0.04k'),
 ('Afghanistan', '', '0.02k'),
 ('Morocco', '', '0.08k'),
 ('Kyrgyzstan', '', '0.01k'),
 ('Singapore', '', '0.12k'),
 ('Taiwan', '', '0.42k'),
 ('Senegal', '', '0.03k'),
 ('Bolivia', '', '0.03k'),
 ('Luxembourg', '', '0.24k'),
 ('Georgia', '', '0.06k'),
 ('Panama', '', '0.02k'),
 ('Haiti', '', '0.01k'),
 ('Cameroon', '', '0.00k'),
 ('Syria', '', '0.01k'),
 ('Jamaica', '', '0.01k'),
 ('Colombia', '', '0.18k'),
 ('Bangladesh', '', '0.12k'),
 ('Sandrews', '', '0.00k'),
 ('Indonesia', '', '0.28k'),
 ("Côte d'Ivoire", '', '0.01k'),
 ('Malaysia', '', '0.11k'),
 ('Mali', '', '0.01k'),
 ('Dominican Republic', '', '0.06k'),
 ('Nicaragua', '', '0.00k'),
 ('Burkina Faso', '', '0.01k'),
 ('Bahamas', '', '0.01k'),
 ('Martinique', '', '0.00k'),
 ('Mongolia', '', '0.01k'),
 ('Palestine', '', '0.03k'),
 ('Zaire', '', '0.00k'),
 ('Pedro Almodóvar', '', '0.00k'),
 ('Zimbabwe', '', '0.00k'),
 ('Namibia', '', '0.00k'),
 ('Lithuania', '', '0.11k'),
 ('Armenia', '', '0.02k'),
 ('Federal Republic of Yugoslavia', '', '0.07k'),
 ('Czech Republic', '', '0.44k'),
 ('Tajikistan', '', '0.01k'),
 ('Belarus', '', '0.01k'),
 ('Guinea', '', '0.00k'),
 ('Republic of North Macedonia', '', '0.07k'),
 ('Bosnia and Herzegovina', '', '0.08k'),
 ('Svalbard And Jan Mayen', '', '0.00k'),
 ('Niger', '', '0.00k'),
 ('Greenland', '', '0.01k'),
 ('The Democratic Republic Of Congo', '', '0.00k'),
 ('Faroe Islands', '', '0.00k'),
 ('Serbia', '', '0.22k'),
 ('United Arab Emirates', '', '0.11k'),
 ('Moldova', '', '0.01k'),
 ('Jordan', '', '0.03k'),
 ('Chad', '', '0.00k'),
 ('Macao', '', '0.00k'),
 ('Yemen', '', '0.00k'),
 ('Qatar', '', '0.07k'),
 ('Azerbaijan', '', '0.03k'),
 ('Rwanda', '', '0.00k'),
 ('Uganda', '', '0.00k'),
 ('Lesotho', '', '0.00k'),
 ('Papua New Guinea', '', '0.00k'),
 ('Samoa', '', '0.00k'),
 ('Swaziland', '', '0.00k'),
 ('Sudan', '', '0.00k'),
 ('Brunei', '', '0.00k'),
 ('Burma', '', '0.00k'),
 ('Vanuatu', '', '0.00k'),
 ('Djibouti', '', '0.00k'),
 ('Guadeloupe', '', '0.00k'),
 ('Holy See (Vatican City State)', '', '0.00k'),
 ('Oman', '', '0.00k')]